.navbarblue {
background-color: #007bff;
}

.custom-navbar {
  position: relative;
  width: 100%;
  z-index: 1000;
}

.nav-icon {
  cursor: pointer; /* Icono interactivo */
}

.nav-menu {
  display: flex;
  flex-direction: row; /* Diseño horizontal por defecto */
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
}

.nav-menu.open {
  display: flex;
  flex-direction: column; /* Cambia a diseño vertical cuando está abierto */
  background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  padding: 10px;
  z-index: 999;
}



.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center; /* Centra los enlaces en el diseño vertical */
}

.nav-links a:hover {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

/* Responsive design: menú horizontal por defecto */
@media (max-width: 500px) {
  .nav-menu {
      display: none; /* Oculta el menú por defecto en pantallas pequeñas */
  }

  .nav-menu.open {
      display: flex; /* Muestra el menú al abrir */
  }
}




/* Asegúrate de que la imagen sea redonda y tenga un tamaño apropiado */
.nav-icon {
  border-radius: 50%;
}



/* Fondo azul y borde rojo */
.navbarblue {
  background-color: blue !important;  /* Fondo azul */
  border-bottom: 2px solid yellowgreen; /* Borde rojo */
}

/* Puedes personalizar más los bordes si lo deseas */
.navbarblue .navbar-nav .nav-link {
  color: white; /* Cambiar el color del texto de los enlaces */
  font-weight: bold ;
}

.navbarblue .navbar-nav .nav-link:hover {
  color: yellow; /* Color al pasar el mouse por los enlaces */
}
