.footer-elegante {
  background-color: #1c1c1c;
  color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-image {
  max-width: 100px; /* Reducción del tamaño de la imagen */
  margin-bottom: 10px;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8c300; /* Color dorado para resaltar el nombre del hotel */
  margin-bottom: 10px;
}

.footer-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-contact {
  font-size: 1rem;
  margin-bottom: 5px;
}

.footer-contact strong {
  color: #f8c300;
}

/* Alineación y espaciado */
.footer-text {
  text-align: left;
}

.footer-rights {
  font-size: 0.9rem;
  color: #f1f1f1;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .footer-elegante {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer-image {
    max-width: 200px;
  }

  .footer-title {
    font-size: 1.2rem;
  }

  .footer-description, .footer-contact {
    font-size: 0.9rem;
  }

  .footer-rights {
    font-size: 0.8rem;
  }
}
